header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 100px;
    
    img {
        max-width: 20%;
        max-height: 150px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
}