header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 100px;
    
    img {
        max-width: 20%;
        max-height: 150px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    .search-bar{
        width: 50%;
        min-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.1s;

        box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);

        input {
            width: 100%;
            padding: 12px 18px;
            color: var(--color-green-light-sea);   
            cursor: pointer; 
            outline: none;
            transition: all 0.1s;
        }

        input::placeholder {
            font-family: var(--font-family);
            font-size: var(--font-subtitle-size);
            font-weight: var(--font-body-weight);
            color: #BABABA;
        }

        .btn-search {
            text-align: start;
            background-color: var(--color-white);
            padding: 4.5px 18px;
            cursor: pointer;        
        }

    }

    .search-bar:hover {
        outline: 2px solid var(--color-green-light-sea);
    }

    .group-card-hidrometros {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .card {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);
            padding: 26px 22px;
            gap: 50px;
            border-radius: 10px;
            cursor: pointer;
            
            .description-card {
                display: flex;
                align-items: center;
                gap: 30px;

                .img-card {
                    background-color: #ebebeb;
                    border-radius: 10px;
                }

                .text-datail-card {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h3 {
                        color: var(--color-blue-deep-sky);
                        font-weight: 600;
                    }

                    p {
                        color: var(--color-blue-deep-sky-dark-ultra);
                        font-weight: var(--font-subtitle-weight);
                    }
                }
            }

            .btn-arrow {
                cursor: pointer;
                background: none;
            }
        }
    }
}