body {
    background-image:
        url('/src/assets/images/identidade_visual_1.png'),
        url('/src/assets/images/identidade_visual_2.png'),
        url('/src/assets/images/identidade_visual_3.png'),
        url('/src/assets/images/identidade_visual_4.png');
        /* url('/src/assets/images/identidade_visual_5.png'); */

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    background-position:
        top left,
        top right,
        bottom left,
        bottom right;

    background-size:
        20%, 10%, 10%, 16%;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    margin: 100px;
    

    img {
        max-width: 20%;
        max-height: 150px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    margin-bottom: 200px;
    
    
    .search-bar{
        width: 50%;
        min-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.1s;

        box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);

        input {
            width: 100%;
            padding: 12px 18px;
            color: var(--color-green-light-sea);   
            cursor: pointer; 
            outline: none;
            transition: all 0.1s;
        }

        input::placeholder {
            font-family: var(--font-family);
            font-size: var(--font-subtitle-size);
            font-weight: var(--font-body-weight);
            color: #BABABA;
        }

        .btn-search {
            text-align: start;
            background-color: var(--color-white);
            padding: 4.5px 18px;
            cursor: pointer;        
        }

    }

    .search-bar:hover {
        outline: 2px solid var(--color-green-light-sea);
    }

    .group-card-hidrometros {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .card {
            
            width: 50%;
            max-height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);
            border: solid 0.75px #F2F2F2;
            padding: 26px 22px;
            gap: 50px;
            border-radius: 10px;
            transition: 0.3s;
            
            .description-card {
                display: flex;
                align-items: center;
                gap: 30px;
                

                .img-card {
                    max-width: 120px;
                    min-width: 100px;
                    aspect-ratio: 1 / 1;
                    background-color: #ffffff;
                    border-radius: 10px;
                    border: solid 0.75px #f5f5f5;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        margin: 2px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text-datail-card {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    white-space: nowrap;

                    cursor: pointer;
                    
                    h3 {
                        color: var(--color-blue-deep-sky);
                        font-weight: 600;
                        
                    }

                    p {
                        color: var(--color-blue-deep-sky-dark-ultra);
                        font-weight: var(--font-subtitle-weight);
                    }
                }
            }

            .btn-arrow {
                height: 100%;
                width: 10%;
                cursor: pointer;
                background: none;

                img {
                    width: 40%;
                    height: 100%;
                    object-fit: contain;
                }
            }

        }

        .card:hover{
            box-shadow: 3px 1.5px 8px rgba(163, 163, 163, 0.637);
        }
    }
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;

    width: 800px;
    max-width: 90%;
    max-height: 90vh;

    display: flex;
    flex-direction: column;

    background-color: var(--color-neutral-white);
    border-radius: 20px;

    .modal-header {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-blue-deep-sky);
        border-radius: 20px 20px 0px 0px;
        
        .btn-close-modal {
            margin: 30px;
            cursor: pointer;
            height: 30%;
            background: none;
        }

        .content-header {
            display: flex;
            align-items: center;
            gap: 60px;
            padding: 26px 30px;

            img {
                background-color: var(--color-neutral-white);
                border-radius: 100%;
                width: 14%;
            }

            .title-modal {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: var(--color-neutral-white);
                }
    
                p {
                    color: var(--color-neutral-light-gray);
                }
            }

        }

    }

    .modal-main {
        flex: 1;
        overflow-y: auto;
        width: 100%;

        scrollbar-width: none;
        -ms-overflow-style: none;

        .hidrometro-capa-main {
            height: 300px;
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 7;
            text-align: center;

            img {
                width: 80%;
                height: 100%;
                object-fit: cover;
            }
        }


        .especificacoes-tecnicas{
            display: flex;
            flex-direction: column;
            gap: 30px;

            margin: 30px 40px;

            .title{
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    font-weight: var(--font-subtitle-weight);
                    color: var(--color-blue-deep-sky-dark-ultra);
                }
            }

            .group-info-tecnicas {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 14px 28px;

                .box-info {
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    padding: 24px 20px;

                    border-radius: 10px;
                    box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);
                    border: solid 0.75 #F2F2F2;

                    .title-box {
                        color: #ACACAC;
                        font-size: var(--font-subtitle-size);
                        font-weight: var(--font-subtitle-weight);
                    }

                    .info-box {
                        color: var(--color-blue-deep-sky-dark-ultra);
                        font-size: var(--font-headline-3-size);
                        font-weight: var(--font-subtitle-weight);
                    }
                }
            }

        }

        .display-hidrometro {
            display: flex;
            flex-direction: column;
            gap: 30px;
            

            .title{
                display: flex;
                align-items: center;
                gap: 10px;

                padding-left: 40px;

                p {
                    font-weight: var(--font-subtitle-weight);
                    color: var(--color-blue-deep-sky-dark-ultra);
                }
            } 
            
            .section-display-hidrometro {
                box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);
                border: solid 0.75 #F2F2F2;

                padding: 40px 0px 16px 0px;

                .container-display-hidrometro {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 30px;

    
                    .control {
                        background: none;
                        border: none;
                        cursor: pointer;
                    }
           
                    .gallery-wrapper-hidrometro-display {
                        overflow-x: hidden;
                        width: 80%;
                    }

                    .gallery-wrapper-hidrometro-display::-webkit-scrollbar {
                        display: none;
                    }

                    .gallery-hidrometro-display {
                        display: flex;
                        padding: 0;
                        touch-action: pan-y;

                        .items {
                            flex: 0 0 100%;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
    
                }

                .seletor-img {
                    display: flex;
                    justify-content: center;
                    margin-top: 26px;
                    gap: 8px;

                    .esfera {
                        background-color: rgb(219, 219, 219);
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        cursor: pointer;

                        transition: .3s;
                    }

                    .esfera.active {
                        background-color: var(--color-blue-deep-sky);
                        transform: scale(1.12);
                    }
                }
            }
        }

        .lista-tutorial-hidrometro {
            display: flex;
            justify-content: center;
            margin: 40px;

            border-radius: 10px;
            box-shadow: 2px 1px 6px rgba(163, 163, 163, 0.25);
            border: solid 0.75 #F2F2F2;
            
            .tutorial {
                padding: 20px;
                list-style: none;
                counter-reset: item;
            }

            .tutorial li {
                margin-top: 20px;
                margin-bottom: 20px;

                display: flex;
                align-items: center;
                gap: 20px;
                counter-increment: item;

                p {
                    font-size: var(--font-body-size);
                    font-weight: var(--font-subtitle-weight);
                    color: var(--color-blue-deep-sky-dark-ultra);
                }
            }

            .tutorial li::before {
                text-align: center;
                content: counter(item) " ";
                color: var(--color-neutral-white);
                font-size: var(--font-subtitle-size);
                font-weight: var(--font-subtitle-weight);
                background-color: var(--color-blue-deep-sky);
                padding: 8px 12px;
                border-radius: 100%;
                
            }

        }

        footer {
            display: flex;
            justify-content: center;
            margin: 0px 30px 20px 30px;

            .btn-pdf-hidrometro{
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                cursor: pointer;
                font-size: var(--font-subtitle-size);
                font-weight: var(--font-subtitle-weight);
                color: var(--color-neutral-white);
                background-color: var(--color-blue-deep-sky);
            }
        }

    }

}

#fade.hide,
#modal.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

.hidden {
    display: none;
}
